/* japanese-cuisine.component.css */

/* Estilos generales del componente */
#japanese-cuisine {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #C71585;
  }

  h3{
    color: #FF69B4;
    font-size: 25px;

  }
  
  /* Estilos para los cards de platos japoneses */
  .dishes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .dish-card {
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
    max-width: calc(33.33% - 20px);
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .dish-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .dish-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  