<div class="navbar">
    <div class="nav-logo">
        <img src="../../../assets/images/logo2.png" alt="logo">
        <h1>Descubre Japón</h1>
    </div>
    <div class="nav-container">
        <div class="nav-links">
            <button [routerLink]="['/home']" routerLinkActive="active-link">Home</button>
            <button [routerLink]="['/historia']" routerLinkActive="active-link">Historia y Cultura</button>
            <button [routerLink]="['/gastronomia']" routerLinkActive="active-link">Gastronomia</button>
            <div class="privado">
                <button [routerLink]="['/login']" routerLinkActive="active-link">Cuestionario</button>
            </div>
        </div>
    </div>
</div>
