<section id="quiz">
    <form (ngSubmit)="checkAnswers()">
      <div *ngFor="let question of questions; let i = index" class="question-block">
        <p>{{ i + 1 }}. {{ question.question }}</p>
        <div *ngFor="let option of question.options">
          <label>
            <input type="radio" [name]="'question' + i" [value]="option" [(ngModel)]="question.userAnswer">
            {{ option }}
          </label>
        </div>
      </div>
      <button type="submit">Enviar Respuestas</button>
    </form>
  
    <div *ngIf="showResults" class="results">
      <h3>Resultados</h3>
      <p>Respuestas correctas: {{ correctAnswers }} de {{ questions.length }}</p>
    </div>
  </section>
  