<div class="main-vertical">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="section-horizontal">
        <label for="name">Nombre:</label>
        <input id="name" formControlName="name" />
      </div>
      <div *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
        <div class="error" *ngIf="registerForm.controls['name'].errors?.['required']">El nombre es requerido.</div>
      </div>
  
      <div class="section-horizontal">
        <label for="email">Email:</label>
        <input id="email" formControlName="email" />
      </div>
      <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
        <div class="error" *ngIf="registerForm.controls['email'].errors?.['required']">El correo es requerido.</div>
        <div class="error" *ngIf="registerForm.controls['email'].errors?.['email']">Correo inválido.</div>
      </div>
  
      <div class="section-horizontal">
        <label for="password">Contraseña:</label>
        <input id="password" type="password" formControlName="password" />
      </div>
      <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
        <div class="error" *ngIf="registerForm.controls['password'].errors?.['required']">La contraseña es requerida.</div>
      </div>
  
      <div class="section-horizontal">
        <label for="confirmPassword">Repetir Contraseña:</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" />
      </div>
      <div *ngIf="registerForm.errors?.['passwordMismatch'] && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)">
        <div class="error">Las contraseñas no coinciden.</div>
      </div>
  
      <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    </form>
  </div>
  